.boxed-view{
	align-items: center;
	background: $grey;
	display: flex;
	height: 100vh;
	justify-content: center;
	width: 100vw;
}

.boxed-view--modal{
	background: fade-out($grey, .3);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.boxed-view__box{
	background: $white;
	padding: 2.4rem;
	text-align: center;
	width: 24rem;
}

.boxed-view__form{
	display: flex;
	flex-direction: column;
}