// Colors
$black: #000000;
$grey: #dddddd;
$light-grey: #f9f9f9;
$dark-grey: #777777;
$white: #ffffff;
$purple: #5b4681;

// Font sizes
$base-font-size: 1.4rem;
$medium-font-size: 1.6rem;
$large-font-size: 1.8rem;
$ex-large-font-size: 2rem;

// Form inputs
$input-border-color: $grey;

// spacing
$space: 1.4rem;
$base-padding: 1rem;

// width sizes
$max-size: 70rem;